h1 {
  color: pink;
  font-size: 100px;
  text-indent: 50px;
  border: 5px solid teal;
  background-color: teal;
  margin: auto;
  display: flex;
  justify-content: center;
}

.title {
  color: teal;
  font-family: helvetica;

}


p {
  font-family: helvetica;
  font-style: italic;
  color: black;
  background-color: pink;
}

.pic {
  border: 5px solid teal;
}

div {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  border: 5px solid white;

}
